.filter {
  display: flex;
  flex-direction: column;
}
.btn {
  border: 1px solid blue;
  border-radius: 8px;
  background-color: inherit;
  height: 40px;
  width: 200px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:hover {
    transition: 0.15s;
    transform: scale(1.1);
  }
}
