.buttons {
  &__input {
    width: 200px;
    height: 40px;
    border: 1px solid blue;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    margin-right: 25px;
    &:focus {
      color: blue;
      border-color: blue;
      transition: 0.15s;
      transform: scale(1.1);
    }
  }

  &__btn {
    border: 1px solid blue;
    border-radius: 8px;
    background-color: inherit;
    height: 40px;
    width: 200px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:hover {
      transition: 0.15s;
      transform: scale(1.1);
    }
  }
}
